@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish&family=Roboto&display=swap');



body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

header {
  z-index: 9999;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2); ;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  padding-top: 15px;
}

.nav__links li a {
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

header a button {
  box-sizing: border-box;
  border: 1px solid #DC6156;
  background-color: white;
  color: #DC6156;
  padding: 5px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: white;
  background-color: rgb(220, 97, 86);
}

.jumbotron {
  background: url("../img/image/hero1.jpg");
  background-size: cover;
  height: 650px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 80%;
  position: absolute;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  bottom: 0;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .display-4 {
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}

.lead {
  
  margin-bottom: 45px;
}

.tombol {
  border-radius: 40px;
}

.content {
  margin-top: 95px;

}

.serve{
  text-align: center;
}

.content .sec .judul {
  font-size: 40px;
  line-height: 45px;
}

.serve .wrap-row {
  margin-top: 50px;
}

.serve .wrap-row:last-child {
  margin-bottom: 95px;
}

.our-client {
 text-align: center;   
 margin-bottom: 95px;
}

.client-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-img {
  height: 100px;
  width: auto;
  margin-left: 50px;
}

/* Marquee */
:root {
  --marquee-width: 60vw;
  --marquee-height: 15vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  white-space: nowrap;
}

.marquee-content li img {
  height: 100%;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
}
/* end marquee */

.cta-sec {
  text-align: center;
  height: 350px;
  background: url('../img/image/cta.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 100px;
  padding-top: 100px;
}

.cta-sec .display-5, 
.cta-sec .cta-subs,
.cta-sec .btn-cta {
  z-index: 1;
  position: relative;
}

.cta-sec::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(125, 103, 241, 0.38), rgba(232, 228, 228, 0.7));
}

.case-sec {
  margin-bottom: 95px;
}

.testi-sec {
  margin-bottom: 95px;
}

.testi-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testi-box {
  position: relative;
  z-index: 2;
  background-color: #E9EEF2;
  max-width: 450px;
  overflow: hidden;
  padding-top: 30px;
  padding-right: 24px;
  padding-bottom: 12px;
}

.quotes {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
}

.testi-subs {
  display: block;
  width: 80%;
  position: relative;
  float: right;
}

.testi-profile {
  margin-top: 10px;
  text-align: center;
}

.testi-profile .profile-name {
  font-size: 24pt;
  margin: 0;
  padding: 0;
}

.testi-profile .profile-company {
  font-size: 12pt;
  margin: 0;
  padding: 0 ;
}

/* footer */
.footer {
  background-color: #2A394E;
  font-size: 10pt;
  padding: 20px;
  color: white;
}

.footer .container.wrap-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .container .navigasi {
  box-sizing: border-box;
}

.footer .container .navigasi.f-logo {
  width: 100% !important;
  margin-bottom: 10px;
}

.footer .container .navigasi.f-ctn {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .container .navigasi.f-ctn a {
  font-size: 0.8em;
  color: white;
  text-decoration: none;
}

@media (min-width: 576px) { 

  .footer .container .navigasi {
    flex : 1;
    width: 25%;
  }

  .footer .container .navigasi.f-logo {
    flex: 2;
  }

}

/* end footer */


@media (min-width: 992px) {
  nav.navbar {
    background-color: white;
    z-index: 99999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  }
  .jumbotron .display-4 {
    font-size: 48pt;
    margin-top: 120px;
  } 
  .nav-link {
    margin-right: 30px;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    color: #5a5b5d !important;
  }
  .navbar-nav {
    margin: 0;
    margin-left: 167px;
    padding: 0;
  }
}


@media (max-width: 575.98px) {
  .jumbotron .display-4 {
    margin-top: 130px;
    font-size: 35px;
  }

  .lead {
    font-size: 12pt;
  }

  .content {
    margin-top: 50px;
  }

  .content .gambar {
    margin-bottom: 20px;
  }

  .content .sec .judul {
    font-size: 25pt;
    line-height: 30pt;
  }

  .content .sec .subs {
    font-size: 12pt;
    font-weight: 500;
  }

  .content .serve .serve-item .wrap-row {
    margin-top: 0;
  }

  .content .serve .serve-item .col-lg {
    margin-bottom: 30px;
  }

  .cta-sec {
    background-size: 600px auto;
    background-repeat: no-repeat;
  }

  .case-sec {
    margin-bottom: 50px;
  }

  .case-sec .row .col-lg {
    margin-bottom: 20px;
  }

  .case-sec .row .col-lg:last-child {
    margin-bottom: 0;
  }
  
  .testi-sec h4 {
    margin-bottom: 20px !important;
  }

  .testi-sec .testi-box .testi-subs {
    width: 75%;
    font-size: 11pt;
    font-weight: 400;
  }

  .testi-sec .testi-profile .profile-name {
    font-size: 24px;
  }

  .testi-sec .testi-profile .profile-company {
    font-size: 12px;
  }


}